@keyframes slideBottom {
 from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.banner-container {
  animation: slideBottom 1s ease-out forwards;
}